.mint-checkbox-label{
  font-size: 12px !important;
}
.mint-button {
  height: 25px;
  font-size: 18px ;
  background-color:white; 
}
.btn{
  margin-top: 40px;
  background-color: #e64242;
  height: 38px;
}